
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
}

header{
  height: 100px;
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  padding: 8px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgb(0, 0, 0);
  color: white;
}
#logo {
  width: 70px;
  height: auto;
  margin-right: 20px;
}
nav {
  position: absolute;
  right: 5%;
  top: 35%;
}
nav ul {
  display: inline-flex; 
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 40px;
}

nav ul li:last-child {
  margin-right: 0px;
}

.link-header {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bolder ;
}

.link-header:hover {
  color: #00b2ff;
}

.teamphotocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.teamphoto img {
  width: 100%; /* Sprawia, że obraz zajmuje pełną szerokość kontenera */
  max-width: 600px; /* Maksymalna szerokość obrazu, aby nie był zbyt duży */
  height: auto; /* Automatyczna wysokość, aby zachować proporcje */
  display: block;
  margin: 20px auto; /* Wyśrodkowanie obrazu */
  object-fit: cover; /* Dopasowanie obrazu */
  border-radius: 8px; /* Opcjonalnie, dodaje zaokrąglone rogi */
}

.teamphoto {
  -webkit-user-select: none;
  user-select: none;
}

.content-title {
  color: #ffffff;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 30px;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.content {
  color: #ffffff;
  text-align: center;
  align-content: center;
  font-size: 18px;
  margin-bottom: 50px;
  margin-left: 15%;
  margin-right: 15%;
  overflow: hidden; /* Ukrywa nadmiar tekstu */

  width: 0; /* Początkowa szerokość dla animacji */
  animation: typing 2s steps(40, end) forwards; /* Efekt pisania */
}

.content:nth-of-type(2) {
  animation-delay: 2.5s; /* Opóźnienie dla drugiego elementu */
}

.content:nth-of-type(3) {
  animation-delay: 5s; /* Opóźnienie dla trzeciego elementu */
}

@keyframes typing {
  from {
    width: 0; /* Start animacji */
  }
  to {
    width: 100%; /* Pełna szerokość tekstu */
  }
}
button {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  padding: 16px 72px;
  border: 2px solid #00069b;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 10px #00369C;
  text-decoration: none;
}

button:hover {
  box-shadow: 0px 0px 20px #00b2ff;
}

footer {
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 240px;
}

.footercontainer {
  display: flex;
  align-items: center;
}

.footer-left {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
}

#footer-logo {
  width: 40px;
  height: auto;
  margin-right: 8px;
}

#footer-brand {
  font-size: 20px;
  color: #ffffff;
}

.footer-text {
  color: #dddddd;
  text-align: justify;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 60%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.footer-right {
  display: flex;
}

.pages h2 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.pages-footer {
  color: #dddddd;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 12px;
  display: block;
}
.pages a {
  color: #ffffff; 
  text-decoration: none; 
}

.pages a:hover {
  color: #00b2ff; 
}

.pages a:last-child {
  margin-bottom: 0px;
}

.pages {
  margin-right: 40px;
}

.contact h2 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.contact-footer {
  margin-bottom: 12px;
  display: flex;
  
}

.contact-footer img {
  width: 18px;
  height: 16px;
}

.contact-footer p {
  color: #dddddd;
  font-size: 12px;
  font-weight: 400;
  margin-left: 6px;
}

@media (max-width: 768px) {
  nav ul {
    display: block; 
    text-align: center; 
    padding: 0;
  }

  nav ul li {
    display: inline-block; 
    margin: 10px 10px;
  }

  .link-header {
    font-size: 16px;
  }

  
  header {
    height: auto; 
    padding: 16px 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

 
  #logo {
    width: 50px; 
    margin-bottom: 10px; 
  }

  .team-name { 
    font-size: 10px; 
  }


  nav {
    position: static;
    margin-top: 10px;
  }

  .teamphoto img {
    max-width: 80%; 
    margin: 20px auto;  
}
}
